<form class="item-sheet" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/></h1>
    </header>

    {{#if notAction}}
        <div class="flexrow">
        <label class="equipped-label">
            Equipped
            <input type="checkbox" name="system.equipped" {{checked item.system.equipped}} />
        </label>
    </div>
 
    {{/if}}

    <div class="flexrow">
        <label class="select-label">
            Usable By
            <select name="system.usableTeam">
                {{#select item.system.usableTeam}}
                <option value="all">All</option>
                <option value="red">Red Team</option>
                <option value="blue">Blue Team</option>
                {{/select}}
            </select>
        </label>
    </div>

    {{#if category}}
    <div class="flexrow">
        <label>
            Category
            <input name="system.category" type="text" value="{{actor.system.category}}" placeholder="Category" />
        </label>
    </div>
    {{/if}}

    {{#if (eq item.type 'action')}}
    <div class="flexrow">

        <label>
            Success Die
            <input name="system.successDie" type="number" step="1" value="{{item.system.successDie}}" />
        </label>

    </div>
    {{else}}
    <div class="flexrow">

        <label>
            Base Value
            <input name="system.baseValue" type="text" step="1" value="{{item.system.baseValue}}" placeholder="0"/>
        </label>

        <label>
            Bonuses
            <input name="system.bonuses" type="text" step="1" value="{{item.system.bonuses}}" placeholder="0"/>
        </label>

        <label>
            Value
            <input name="system.value" type="number" step="1" value="{{item.system.value}}" disabled />
        </label>


    </div>
    {{/if}}
    
    <h2>Description</h2>
    {{editor item.system.description target="system.description" button=true editable=true collaborate=false}}

    {{#if notAction}}
    <h2>Actions</h2>
    <ol class="item-actions flexcol">
        {{#each actions as |action id|}}
            <li class="item-action flexrow" data-item-uuid="{{id}}">
                <div class="item-name">
                    <img src="{{action.img}}" title="{{action.name}}" width="24" height="24" />
                    <a class="action-name"><h4>{{action.name}}</h4></a>
                </div>
                <div class="item-controls">
                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </div>
            </li>
        </div>
        {{/each}}
    </div>
    {{/if}}


</form>
